In [48]:
# Pandas is used for data manipulation
import pandas as pd

# Read in data and display first 5 rows
features = pd.read_csv("../processed_data/2018_Clusters_Ratios_AF.csv")
columns = features.columns

In [49]:
features.groupby('cluster').count()

,Name,Net cash flow / Change in cash,Average Payables,Average Receivables,currentRatio,SG&A to Revenue,daysOfPayablesOutstanding,daysOfInventoryOutstanding,eBITperRevenue,Intangibles to Total Assets,Debt to Assets,Debt to Equity,Payout Ratio,ROE,R&D to Revenue,PE ratio,returnOnAssets,Dividend Yield
cluster,,,,,,,,,,,,,,,,,,
0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
4,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81
8,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88
10,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57
11,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45
12,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
13,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
14,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
15,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
16,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
17,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
18,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
20,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [50]:
features = features[features.cluster != 0]
features = features[features.cluster != 1]
features = features[features.cluster != 2]
features = features[features.cluster != 3]
features = features[features.cluster != 5]
features = features[features.cluster != 6]
features = features[features.cluster != 8]
features = features[features.cluster != 12]
features = features[features.cluster != 13]
features = features[features.cluster != 14]
features = features[features.cluster != 15]
features = features[features.cluster != 16]
features = features[features.cluster != 17]
features = features[features.cluster != 18]
features = features[features.cluster != 19]
features = features[features.cluster != 20]

In [51]:
features.groupby('cluster').count()

,Name,Net cash flow / Change in cash,Average Payables,Average Receivables,currentRatio,SG&A to Revenue,daysOfPayablesOutstanding,daysOfInventoryOutstanding,eBITperRevenue,Intangibles to Total Assets,Debt to Assets,Debt to Equity,Payout Ratio,ROE,R&D to Revenue,PE ratio,returnOnAssets,Dividend Yield
cluster,,,,,,,,,,,,,,,,,,
4,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106
7,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81
9,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88
10,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57
11,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45

In [52]:
# Set "Name" column to the index
features = features.set_index('Name')

# Drop "Name" column
#features.drop(['Name'], axis=1)

In [53]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(features['cluster'])

# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('cluster', axis = 1)

# Saving feature names for later use
feature_list = list(features.columns)

# Convert to numpy array
features = np.array(features)

In [54]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [55]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (282, 17)
Training Labels Shape: (282,)
Testing Features Shape: (95, 17)
Testing Labels Shape: (95,)

In [56]:
# The baseline predictions are the historical averages
#baseline_preds = test_features[:, feature_list.index('average')]

# Baseline errors, and display average baseline error
#baseline_errors = abs(baseline_preds - test_labels)
#print('Average baseline error: ', round(np.mean(baseline_errors), 2))
#Average baseline error:  5.06 degrees.

In [57]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier

# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(train_features, train_labels);

In [58]:
from sklearn.metrics import confusion_matrix

test_pred = rf.predict(test_features)
confusion_matrix(test_labels, test_pred)

array([[22,  0,  0,  1,  0],
       [ 0, 24,  0,  0,  0],
       [ 3,  3, 13,  7,  0],
       [ 0,  0,  0, 12,  0],
       [ 0,  1,  0,  0,  9]], dtype=int64)

In [59]:
print(test_labels)

[ 9  9  4 10  4  4 11 11  9  4  7  7  9 10  7  4  7  9  4  4 10  9  4  7
  7 11  4  9  9 10  7  7  7  4  7  7 10  7 10  7  9  7  4  4 10  4  4  7
  7 11  7  9 11  9 10  4  9  7  7  9 11  9  4  7  9 11 10  9 10  4  9  9
  9  9  4  4  4  4  7  9  7 11 11  9  7  9  9 10  4  9  7 11  4 10  9]

In [60]:
from sklearn.metrics import accuracy_score
accuracy_score(test_labels, test_pred)

0.8421052631578947

In [61]:
#Identify feature importance
importances = rf.feature_importances_

In [62]:
print(importances)

[0.024863   0.03505635 0.0395043  0.15264805 0.03088429 0.0394381
 0.03983271 0.02732766 0.2932929  0.13735721 0.06869876 0.01280746
 0.02777464 0.00808184 0.0186319  0.02935751 0.01444331]

In [63]:
print(columns)

Index(['Name', 'Net cash flow / Change in cash', 'Average Payables',
       'Average Receivables', 'currentRatio', 'SG&A to Revenue',
       'daysOfPayablesOutstanding', 'daysOfInventoryOutstanding',
       'eBITperRevenue', 'Intangibles to Total Assets', 'Debt to Assets',
       'Debt to Equity', 'Payout Ratio', 'ROE', 'R&D to Revenue', 'PE ratio',
       'returnOnAssets', 'Dividend Yield', 'cluster'],
      dtype='object')