In [84]:
# Pandas is used for data manipulation
import pandas as pd

# Read in data and display first 5 rows
features = pd.read_csv("../processed_data/2018_Clusters_Ratios_EM.csv")
columns = features.columns

In [85]:
features.groupby('cluster').count()

,Name,Net cash flow / Change in cash,Average Payables,Average Receivables,currentRatio,SG&A to Revenue,daysOfPayablesOutstanding,daysOfInventoryOutstanding,eBITperRevenue,Intangibles to Total Assets,Debt to Assets,Debt to Equity,Payout Ratio,ROE,R&D to Revenue,PE ratio,returnOnAssets,Dividend Yield
cluster,,,,,,,,,,,,,,,,,,
0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
1,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72
2,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
3,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27
4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
8,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
10,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
11,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
12,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98
13,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36
14,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
15,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
16,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
17,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
18,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
19,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8

In [86]:
features = features[features.cluster != 4]
features = features[features.cluster != 5]
features = features[features.cluster != 6]
features = features[features.cluster != 8]
features = features[features.cluster != 9]
features = features[features.cluster != 10]
features = features[features.cluster != 14]
features = features[features.cluster != 15]
features = features[features.cluster != 16]
features = features[features.cluster != 17]
features = features[features.cluster != 19]

In [87]:
features.groupby('cluster').count()

,Name,Net cash flow / Change in cash,Average Payables,Average Receivables,currentRatio,SG&A to Revenue,daysOfPayablesOutstanding,daysOfInventoryOutstanding,eBITperRevenue,Intangibles to Total Assets,Debt to Assets,Debt to Equity,Payout Ratio,ROE,R&D to Revenue,PE ratio,returnOnAssets,Dividend Yield
cluster,,,,,,,,,,,,,,,,,,
0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
1,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72
2,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
3,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27
7,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
11,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
12,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98,98
13,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36
18,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38

In [88]:
# Set "Name" column to the index
features = features.set_index('Name')

# Drop "Name" column
#features.drop(['Name'], axis=1)

In [89]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(features['cluster'])

# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('cluster', axis = 1)

# Saving feature names for later use
feature_list = list(features.columns)

# Convert to numpy array
features = np.array(features)

In [90]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [91]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (297, 17)
Training Labels Shape: (297,)
Testing Features Shape: (99, 17)
Testing Labels Shape: (99,)

In [92]:
# The baseline predictions are the historical averages
#baseline_preds = test_features[:, feature_list.index('average')]

# Baseline errors, and display average baseline error
#baseline_errors = abs(baseline_preds - test_labels)
#print('Average baseline error: ', round(np.mean(baseline_errors), 2))
#Average baseline error:  5.06 degrees.

In [93]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier

# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(train_features, train_labels);

In [94]:
from sklearn.metrics import confusion_matrix

test_pred = rf.predict(test_features)
confusion_matrix(test_labels, test_pred)

array([[ 0,  0,  0,  1,  0,  0,  0,  0,  0],
       [ 0, 12,  0,  0,  0,  0,  1,  0,  0],
       [ 0,  1,  8,  0,  0,  1,  1,  0,  0],
       [ 0,  0,  0,  6,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  1,  5],
       [ 0,  2,  1,  0,  0, 10,  0,  0,  2],
       [ 0,  2,  0,  0,  0,  0, 20,  1,  0],
       [ 1,  2,  2,  0,  0,  0,  0,  8,  0],
       [ 0,  1,  3,  4,  0,  0,  0,  0,  3]], dtype=int64)

In [95]:
print(test_labels)

[ 1 11  2  1  2 12 18 12  7  2 11 11 13  3  1 13 11 18 18 12 11 13 12  7
 12  3  1 11  2 11 18 18  2 12  1 18  1 13 18  7 12 13 13 13  2 12  7 12
  7 11 11 18  1 12  2  3 12 13 12 12 12 12 11 12  1  1 13 12  3  1 11 13
 12  0  2 13 11 18  7  1  2 12 13 13  3 12  2 11  1  2 18  1  3 12 12 18
 11 11 12]

In [96]:
from sklearn.metrics import accuracy_score
accuracy_score(test_labels, test_pred)

0.6767676767676768

In [97]:
#Identify feature importance
importances = rf.feature_importances_

In [98]:
print(importances)

[0.04053641 0.10981542 0.0599651  0.06717492 0.03581778 0.04410311
 0.03849761 0.05295263 0.09235428 0.09798831 0.08762304 0.03694041
 0.08447079 0.0103203  0.04698394 0.06372415 0.03073181]

In [99]:
print(columns)

Index(['Name', 'Net cash flow / Change in cash', 'Average Payables',
       'Average Receivables', 'currentRatio', 'SG&A to Revenue',
       'daysOfPayablesOutstanding', 'daysOfInventoryOutstanding',
       'eBITperRevenue', 'Intangibles to Total Assets', 'Debt to Assets',
       'Debt to Equity', 'Payout Ratio', 'ROE', 'R&D to Revenue', 'PE ratio',
       'returnOnAssets', 'Dividend Yield', 'cluster'],
      dtype='object')